*:focus {
    outline: none;
}

#contents_table {
  border-collapse: separate;
  border-spacing: 15px 15px;
  font-size: large;
  color: #333333;
}

#txt{
	height: 2em;
	border: #e0e0e0 2px solid;
	border-radius: 30px;
	color: #333333;
	padding-left: 10px;
}

#txt:focus{
	border-color: #09864c !important;
}

#txt_contents{
	resize: none;
	width: 28.5em;
	height: 30em;
	border: #e0e0e0 2px solid;
	border-radius: 30px;
	color: #333333;
	padding-left: 10px;
	padding-top: 10px;
}

#txt_contents:focus{
	border-color: #09864c !important;
}

#txt_file{
	height: 2em;
	border: #e0e0e0 2px solid;
	border-radius: 30px;
	color: #333333;
	padding-left: 10px;
}

#txt_file:focus{
	border-color: #09864c !important;
}

#prev_file{
	border-radius: 10px;
	background-color: #09864c;
	color: #ffffff;
}
#file_label{
	font-size: medium;
}

select {
	width: 75px;
	height: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
	background: url(../img/select.png) no-repeat 95% 50%;
	padding-left: 7px;
	padding-bottom: 5px;
}

#btn{
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px 30px;
	color: #09864c;
	font-size:large;
	border: 1;
	border-color: #09864c;
	outline: 0;
	outline-color: #09864c;
}
#btn:hover {
	cursor: pointer;
	background-color: #09864c;
	color: #ffffff;
}